@import "bourbon/bourbon";
@import "profoundgrid/grid";
// variables
@import "utils";


#article-xovain {

    // Hero
    section#hero {
        margin: 0 0 40px 0;
        background-color: $black;
        background-position: center;
        background-image: url('../_assets/xovain/hero-bg.jpg');

        .wrapper {
            height: 340px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 140px 0 0 0;
            position: relative;


        }

        .wrapper.shade {
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.18) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(32%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.18)));
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.18) 100%);
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.18) 100%);
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.18) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.18) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#2e000000',GradientType=0 );
        }

        h3 {
            padding: 4px 0 0 0;
            font-size: 30px;
            color: $white;
            margin: 20px auto 0 auto;
            font-family: $font-sans;
            font-weight: bold;
            text-align: center;
            text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        }

        img {
            width: 100%;
        }

    }

    section.content .photo.inline {
        margin-top: 6px;
        width: 170px;
        float: left;
    }

    section.content .photo {
        padding-top: 5px;
    }

    section.content .photo img {
        margin: 0 0 10px 0;
    }

    section.content .photo p.caption {
        line-height: 1em;
        font-size: 12px;
    }

    section.content p a {
        border-color: #ff0066;
        color: #ff0066;
    }

    section.content.dark {
        width: 100%;
        margin: 50px 0 40px 0;
       // box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.3);
        @include box-shadow(0 -8px 15px rgba(0, 0, 0, 0.3));
        color: $white;
        background-color: $dark-gray;

        p {
            color: $white;
        }
    }

    section.content blockquote {
        position: relative;
        margin-top: -50px;
        margin-bottom: 30px;
        padding: 25px 40px;
        font-size: 30px;
        font-family: $base-font;
        background-color: #ff0066;
    }

    section.content blockquote i {
        bottom: -30px;
        position: absolute;
        font-size: 50px;
        color: #ff0066;
    }

    section.content blockquote strong {
        font-family: $font-sans;
        font-weight: bold;
    }




}