@import "bourbon/bourbon";
@import "profoundgrid/grid";
@import "vancura-helpers/vancura-helpers";


// BASELINE
// --------

$total_width: 100%;
$total_columns: 12;
$gutter_width: 3%;
$container_margin: 3%;

$media-size-b: 740px;
$media-size-c: 1024px;
$media-size-d: 1200px; // 60px margin on either side of content


// GRID LAYOUT A
// -------------


.grid {
    @include container();
    @include clearfix();

    .left-photo-rail {
        width: 40%;
        float: left;
    }

    .right-photo-rail {
        width: 40%;
        float: right;
        padding-right: 10%;
    }

    .textrail {
        clear: both;
    }

}



// GRID LAYOUT B
// -------------

@media screen and (min-width: $media-size-b) {
    $total_width: 740px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    .grid {
        @include container();
        @include clearfix();

        .first {
            @include column(14);
            @include push(2);
        }

        .social-box {
            @include column(5);
            @include push(18);
        }

        .textrail {
            clear: none;
            @include column(14);
            @include push(2);
        }

        .map-rail {
            @include column(5);
            @include push(17);
        }

        .left-photo-rail {

            width: auto;
            float: none;


            @include column(5);
            @include push(17);

        }

        .right-photo-rail {

            width: auto;
            float: none;
            padding-right: 0px;

            @include column(5);
            @include push(17);

            margin-top: 500px;

        }

    }

}


// GRID LAYOUT C
// -------------

@media screen and (min-width: $media-size-c) {
    $total_width: 1024px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    .grid {
        @include container();
        @include clearfix();

        .first {
            @include column(14);
            @include push(2);
        }

        .social-box {
            @include column(5);
            @include push(18);
        }

        .textrail {
            clear: none;
            @include column(10);
            @include push(7);
        }

        .map-rail {
            @include column(4);
            @include push(2);
        }

        .left-photo-rail {

            @include column(5);
            @include push(1);
        }

        .right-photo-rail {

            @include column(5);
            @include push(18);

            margin-top: 0px;
        }

    }
}

// GRID LAYOUT D
// -------------

@media screen and (min-width: $media-size-d) {
    $total_width: 1200px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    .grid {
        @include container();
        @include clearfix();

        .first {
            @include column(14);
            @include push(2);
        }

        .social-box {
            @include column(5);
            @include push(18);
        }

        .textrail {
            clear: none;
            @include column(10);
            @include push(7);
        }

        .map-rail {
            @include column(4);
            @include push(2);
        }

        .left-photo-rail {

            @include column(5);
            @include push(1);
        }

        .right-photo-rail {

            @include column(5);
            @include push(18);

            margin-top: 0px;

        }

    }
}
