$support-for-ie6-and-ie7: true;

@mixin michal() { color:red; }
.pepa {
    @include michal;
    background-color: green;
}


* {
    font: inherit;
}

body {line-height: 1;}

#fb_root {
    position: absolute;
}

@import "normalize/normalize";
@import "bourbon/bourbon";
@import "profoundgrid/grid";
@import "vancura-helpers/vancura-helpers";
@import "grid/base-grid";

// variables
@import "utils";

// Design System
@import "fonts";
@import "font-awesome";

@import "base";

@import "article-adart";
@import "article-canon";
@import "article-kate"; // zoo-york
@import "article-london";
@import "article-tempest";
@import "article-xovain";

//@import "feature-escape";

@import "article-savoring-auth";
//@import "article-sceneheard";















