@import "normalize/normalize";
@import "bourbon/bourbon";
@import "profoundgrid/grid";
@import "vancura-helpers/vancura-helpers";

// variables
@import "utils";

// Design System
@import "fonts";
@import "font-awesome";

// Scene & Heard
body {
    background-image: url('../_assets/sceneheard/body-bg.png');
    background-color: $black;
}

header {
    border-bottom: 1px solid $black-gray;
}

// Hero
section.hero h2 {
    @include text-indent();
    margin: 30px auto;
    height: 142px;
    width: 529px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../_assets/sceneheard/logo-bg.png');
}

section.hero h2.small {
    height: 83px;
    width: 310px;
    background-image: url('../_assets/sceneheard/logo-small-bg.png');
}

section.hero h3 {
    margin: 0 0 30px 0;
    color: $white;
    text-align: center;
}

// Photos
section.content .photo {
    padding: 0;
    margin: 0;
    position: relative;
}

section.content .photo img {
    padding: 0;
    margin: 0 0 -3px 0;
}

section.content .photo .caption {
    background-image: url("../_assets/sceneheard/caption-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 30px 0 15px 0;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

section.content .photo .caption p {
    margin: 0;
    font-family: $font-sans;
    font-size: 10px;
    padding: 0 15px;
    text-transform: uppercase;
    color: $white;
}

// Events
section.content .event {
    position: relative;
    overflow: hidden;
}

section.content .event.yellow {
    background-color: #d48c00;
}

section.content .event.blue {
    background-color: #0e507f;
}

section.content .event.red {
    background-color: #92111d;
}

section.content .event .desc {
    position: absolute;
    top: 0;
    padding: 15px;
}

section.content .event h2 {
    margin: 0 0 8px 0;
    font-family: $font-sans;
    font-size: 22px;
    color: $white;
}

section.content .event h3 {
    margin: 0 0 5px 0;
    font-family: $alt-gothic;
    text-transform: uppercase;
    font-size: 16px;
    color: $white;
}

section.content .event p {
    margin: 0;
    font-family: $font-sans;
    font-size: 12px;
    color: $white;
}

section.content .event img {
    padding: 0;
    margin: 0 0 -3px 0;
}

// EOF