//@import "normalize/normalize";
//@import "bourbon/bourbon";
//@import "profoundgrid/grid";
//@import "vancura-helpers/vancura-helpers";
// variables
//@import "utils";

.kate_overide {

    font-size: inherit;
    line-height: inherit;

    // Hero
    section#hero {

        height: 483px;
        background-repeat: no-repeat;
        background-position: center 246px;
        margin-top: 60px;
        background-image: url('../_assets/zoo-york/logo-bg.png');
        background-color: transparent;

        .diags {
            position: relative;
            height: 484px;
            background-repeat: repeat-x;
            background-image: url('../_assets/zoo-york/hero-bg.png');
            background-position: 0 274px;
        }

        h3 {
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 0.25em;
            color: #72abb3;
            font-family: $alt-gothic;
            text-align: center;
        }

        h2 {
            position: relative;
            margin: 20px 0 0 0;
            font-size: 68px;
            font-family: $base-font;
            text-align: center;
        }

        h2.small {
            font-size: 48px;
        }

        .wrapper {
            padding: 24px 0 0 0;
            position: relative;
        }

        .bug {
            position: absolute;
            top: 45%;
            left: 53%;
            height: 174px;
            width: 309px;
            background-image: url('../_assets/zoo-york/bug.png');
        }
    }


    // Content

    section.content .inline {
        margin: 6px 20px 0 0;
        float: left;
    }

    section.content .inline img {
        margin: 0 0 5px 0;
    }

    section.content .photo {
        position: relative;
    }

    section.content p a {
        border-color: $red;
        color: $red;
    }

    section.content .photo p.caption {
        line-height: 1em;
        background-color: $white;
        font-size: 15px;
        text-transform: uppercase;
        font-family: $alt-gothic;
    }

    section.content .photo p.caption span {
        display: block;
        color: $light-gray;
    }

    section.content .photo p.caption.block {
        width: 150px;
        position: absolute;
        padding: 15px 0 0 15px;
        bottom: -20px;
        right: 0;
        font-size: 22px;
    }

    section.content .photo p.caption.block.right {
        text-align: right;
    }

}