@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../vancura-helpers/vancura-helpers";

// BASELINE
// --------

#article-adart {

    $media-size-b: 740px;
    $media-size-c: 1024px;
    $media-size-d: 1200px;

    /*

    // GRID LAYOUT A
    // -------------
    // 60px margin on either side of content

    $total_width: 100%;
    $total_columns: 12;
    $gutter_width: 3%;
    $container_margin: 3%;



    // GRID LAYOUT B
    // -------------

    @media screen and (min-width: $media-size-b) {
        $total_width: 740px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;


    }

    // GRID LAYOUT C
    // -------------

    @media screen and (min-width: $media-size-c) {
        $total_width: 1024px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

    }


    */

    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {
        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .grid {
            @include container();
            @include clearfix();
        }

        header {
            width: 100%;
        }

        .full {
            width: 100%;
        }

        #hero {
            width: 100%;

            .grid {
                @include container();
                @include clearfix();
            }
        }

        .content-rail {
            // content subgrid
            @include container();
            @include clearfix();

            @include column(10);
            @include push(8);

        }



        .outbox-left {
            @include reset();
            @include column(3);
            @include expand(1);
            @include push(3);
        }

        .outbox-right {
            @include reset();
            @include column(3);
            @include expand(1);
            @include push(18);

        }

        .strip22 {
            @include column(22);
            @include push(1);
        }

    }

}



