@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../helpers/vancura-helpers";

@import 'config';

// BASELINE
// --------

// GRID LAYOUT A
// -------------
// 60px margin on either side of content

$total_width: 100%;
$total_columns: 12;
$gutter_width: 3%;
$container_margin: 3%;

body {
   // border: 5px solid red;
    overflow-x: hidden;
}

@include generate_helper_classes();

.grid {
    @include container();
    @include clearfix();
}

.remove-mobile {
    display: none;
}

.outbox-left {
    @include column(5);
}

.outbox-right {
    @include column(5);
}

.quote {
    margin: 0 0 0 0;
}

header {
    width: 100%;
}

.full {
    width: 100%;
}

#hero {
    width: 100%;

}

// GRID LAYOUT B
// -------------

@media screen and (min-width: $media-size-b) {

    $total_width: 740px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    body {
    //    border: 5px solid green;
    }

    @include generate_helper_classes();

    .grid {
        @include container();
        @include clearfix();
    }

    .first {
        @include column(16);
        @include push(6);
    }

    .content-rail {
        @include column(16);
        @include push(6);
    }

    .social-share {
       @include column(2);
       @include push(22);
    }

    .outbox-left {
        @include column(4);
        @include push(1);
    }

    .outbox-right {
        @include column(4);
        @include push(19);
    }
    .content-rail-narrow {
        @include column(12);
        @include push(6);
    }

    .show-mobile {
        display: none;
    }

    .remove-mobile {
        display: block;
    }

    span.remove-mobile {
        display: inline;
    }
}

@media screen and (min-width: $media-size-c) {

    $total_width: 1024px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    @include generate_helper_classes();

    .grid {
        @include container();
        @include clearfix();
    }

    .first {
        @include column(13);
        @include push(4);
    }


    .social-share {
        @include column(2);
        @include push(20);
    }



    body {
       // border: 5px solid blue;
    }

    .content-rail-narrow {
        @include column(8);
        @include push(8);
    }

}

// GRID LAYOUT C
// -------------

@media screen and (min-width: $media-size-c) {
    $total_width: 1024px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    body {
       // border: 5px solid pink;
        //border: none;
    }

    @include generate_helper_classes();

    .grid {
        @include container();
        @include clearfix();
    }

    .first {
        @include reset();
        @include column(13);
        @include push(4);
    }

    .content-rail {
        @include column(12);
        @include push(8);
    }

    .social-share {
       @include column(2);
       @include push(22);
    }

    .outbox-left {
        @include column(5);
        @include push(1);
    }

    .outbox-right {
        @include column(4);
        @include push(19);
    }

    .content-rail-narrow {
        @include column(7);
        @include push(8);
    }

}

// GRID LAYOUT D
// -------------

@media screen and (min-width: $media-size-d) {
    $total_width: 1200px;
    $total_columns: 24;
    $gutter_width: 0px;
    $container_margin: auto;

    body {
       // border: 5px solid orange;
    }

    @include generate_helper_classes();

    .grid {
        @include container();
        @include clearfix();
    }

    .social-share {
        @include column(2);
        @include push(20);
    }
    .content-rail {
        @include column(10);
        @include push(8);
    }

    .content-rail-narrow {
        @include column(7);
        @include push(8);
    }

    .content-rail-wide {
        @include column(14);
        @include push(8);
    }

    .outbox-left {
        @include column(5);
        @include push(2);
    }

    .outbox-right {
        @include column(3);
        @include push(18);
    }



}









