@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../vancura-helpers/vancura-helpers";

// BASELINE
// --------

#article-london {

    $media-size-b: 740px;
    $media-size-c: 1024px;
    $media-size-d: 1200px;

    /*

    // GRID LAYOUT A
    // -------------
    // 60px margin on either side of content

    $total_width: 100%;
    $total_columns: 12;
    $gutter_width: 3%;
    $container_margin: 3%;



    // GRID LAYOUT B
    // -------------

    @media screen and (min-width: $media-size-b) {
        $total_width: 740px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;


    }

    // GRID LAYOUT C
    // -------------

    @media screen and (min-width: $media-size-c) {
        $total_width: 1024px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

    }


    */

    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {
        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;


        .content-rail {
            .narrow {
                @include width(7);
            }
        }


        .outbox-left {
            @include reset();
            @include column(5);
            @include push(2);



        }

        .outbox-right {

            @include column(8);
            @include expand(1);
            @include push(14);

        }




    }

}



