@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../vancura-helpers/vancura-helpers";

// BASELINE
// --------

$media-size-b: 740px;
$media-size-c: 1024px;
$media-size-d: 1200px;

#sceneheard {

    // GRID LAYOUT A
    // -------------
    // 60px margin on either side of content

    $total_width: 100%;
    $total_columns: 12;
    $gutter_width: 0;
    $container_margin: 3%;

    .grid {
        @include container();
        @include clearfix();
        overflow: hidden;

        .full {
            @include column(12);
        }

    }

    .remove-mobile {
        display: none;
    }

    p.remove-stretch {
        display: none;
    }


    .box12 {

        @include column(12);

        &.left {

        }

        &.right {

        }
    }

    .hero-label {
        @include column(12);
        @include push(0);
    }

    @include generate_helper_classes();

    // GRID LAYOUT B
    // -------------

    @media screen and (min-width: $media-size-b) {
        $total_width: 740px;
        $total_columns: 12;
        $gutter_width: 0px;
        $container_margin: auto;

        .grid {
            @include container();
            @include clearfix();

            .full {
                @include column(12);
            }
        }

        p.remove-stretch {
            display: inline;
        }

        .remove-mobile {
            display: none;
        }

        .box12 {

            @include column(12);

            &.left {
            }

            &.right {

            }
        }

        @include generate_helper_classes();

    }

    // GRID LAYOUT C
    // -------------

    @media screen and (min-width: $media-size-c) {
        $total_width: 740px; //1024px;

        $total_columns: 12;
        $gutter_width: 0px;
        $container_margin: auto;

        .hero-label {
            @include column(12);
            @include push(0);
        }

        .show-mobile {
            display: block;
        }

        .remove-mobile {
            display: none;
        }

        .grid {
            @include container();
            @include clearfix();

            .full {
                @include column(12);
            }
        }

        .box12 {

            @include column(12);

            &.left {
            }

            &.right {

            }
        }

        @include generate_helper_classes();
    }

    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {
        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .show-mobile {
            display: none;
        }


        span.remove-mobile, i.remove-mobile { display: inline; }

        .remove-mobile {
            display: block;
        }


        .grid {
            @include container();
            @include clearfix();

            .full {
                @include column(24);
            }
        }

        .box12 {
            @include column(12);

            &.left {
                @include push(0);
            }
            &.right {
                @include push(12);
            }
        }

        .hero-label {
            @include column(12);
            @include push(6);


        }

        @include generate_helper_classes();

    }

    .grid .grid {
       padding: 0;
        margin: 0;
        width: 100%;
    }

}





