@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../vancura-helpers/vancura-helpers";

// BASELINE
// --------
$media-size-b: 740px;
$media-size-c: 1024px;
$media-size-d: 1200px;

#feature-storytelling {

    // GRID LAYOUT A
    // -------------
    // 60px margin on either side of content

    $total_width: 100%;
    $total_columns: 12;
    $gutter_width: 3%;
    $container_margin: 3%;

    .grid {
        @include container();
        @include clearfix();
    }

    .baumgartner {
        @include column(8);
        @include push(2);

        margin-top: -60px;
    }
    #chipotle {
        //margin-top: 70px;
        float: right;
        margin: 20px;
    }

    .text-rail-full {
        @include column(12);
    }

    .text-rail-col1 {
        @include column(5);
    }

    .text-rail-col2 {
        @include column(5);
        @include push(6);

    }

    // GRID LAYOUT B
    // -------------

    @media screen and (min-width: $media-size-b) {
        $total_width: 740px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .grid {
            @include container();
            @include clearfix();
        }

        .first {
            @include column(19);
            @include push(1);
        }

        .content-rail {
            @include column(16);
            @include push(7);
        }

        .content-rail-inside {
            @include column(15);
            @include push(0);
        }
        .content-rail-inside-wide {
            @include column(15);
            @include push(0);
        }

        .text-rail-full {
            @include column(16);
        }

        .text-rail-col1 {
            @include column(8);
        }

        .text-rail-col2 {
            @include column(8);
            @include push(9);

        }

        .outbox-left {
            @include column(4);
            @include push(1);
        }

        .outbox-right {
            @include column(5);
            @include push(12);
        }

        .baumgartner {
            @include column(16);
            @include push(4);
            margin-top: 0;
        }

        .page-break .label {
            @include column(10);
            @include push(2);
        }

        .box1, .box2, .box3, .box4, .box5 {
            @include column(3);
        }
        .box1 {
            @include push(2);
            clear: both;
        }
        .box2 {
            @include push(6);
        }
        .box3 {
            @include push(10);
        }
        .box4 {
            @include push(14);
        }
        .box5 {
            @include push(18);
        }
        .baumgartner-small-container {
            @include column(5);
        }

    }

    // GRID LAYOUT C
    // -------------

    @media screen and (min-width: $media-size-c) {
        $total_width: 1024px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .grid {
            @include container();
            @include clearfix();
        }

        .first {
            @include column(18);
            @include push(2);
        }

        .content-rail {
            @include column(11);
            @include push(7);
        }

        .content-rail-inside {
            @include column(11);
            @include push(0);
        }
        .content-rail-inside-wide {
            @include column(15);
            @include push(0);
        }

        .outbox-left {
            @include column(4);
            @include push(2);
        }

        .outbox-right {
            @include column(5);
            @include push(11);
        }

        .social-share {
           // @include push(18);
        }

        .baumgartner {
            @include column(12);
            @include push(6);
        }

        .page-break .label {
            @include column(10);
            @include push(2);
        }

        .box1, .box2, .box3, .box4, .box5 {
            @include column(3);
        }
        .box1 {
            @include push(2);
            clear: both;
        }
        .box2 {
            @include push(6);
        }
        .box3 {
            @include push(10);
        }
        .box4 {
            @include push(14);
        }
        .box5 {
            @include push(18);
        }
        .baumgartner-small-container {
            @include column(5);
        }
        #chipotle {
            margin-top: 70px;
        }
    }

    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {
        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .grid {
            @include container();
            @include clearfix();
        }

        .first {
            @include column(14);
            @include push(2);
        }

        .content-rail {
            @include column(11);
            @include push(7);
        }

        .content-rail-inside {
            @include column(11);
            @include push(0);
        }
        .content-rail-inside-wide {
            @include column(15);
            @include push(0);
        }

        .outbox-left {
            @include column(4);
            @include push(2);
        }

        .outbox-right {
            @include column(5);
            @include push(11);
        }
        .baumgartner {
            @include column(12);
            @include push(6);
        }

        .page-break .label {
            @include column(10);
            @include push(2);
        }

        .box1, .box2, .box3, .box4, .box5 {
            @include column(3);
        }
        .box1 {
            @include push(2);
            clear: both;
        }
        .box2 {
            @include push(6);
        }
        .box3 {
            @include push(10);
        }
        .box4 {
            @include push(14);
        }
        .box5 {
            @include push(18);
        }
        .baumgartner-small-container {
            @include column(5);
        }

    }

}




