@import "../bourbon/bourbon";
@import "../profoundgrid/grid";
@import "../helpers/vancura-helpers";

// BASELINE
// --------

#article-xovain{

    /*

    // GRID LAYOUT A
    // -------------
    // 60px margin on either side of content

    $total_width: 100%;
    $total_columns: 12;
    $gutter_width: 3%;
    $container_margin: 3%;



    // GRID LAYOUT B
    // -------------

    @media screen and (min-width: $media-size-b) {
        $total_width: 740px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;


    }

    // GRID LAYOUT C
    // -------------

    @media screen and (min-width: $media-size-c) {
        $total_width: 1024px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

    }


    */

    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {

        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        #hero {

            .xovain {
                @include container();
                @include clearfix();
                @include width(12);
                @include push(7);
            }
        }

        .content-rail-wide {
            @include reset();

            @include width(17);
            @include pull(4);
            @include clearfix();
        }

    }

}



