/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Establish the imports-containing element.
 */
/**
 * Reset the imports-containing element for overiding.
 */
/**
 * Align an element to the imports.
 */
/**
 * Align an element to the imports.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .sprite {
    zoom: 0.5; } }
#feature-storytelling {
    /*
        // GRID LAYOUT B
        // -------------

        @media screen and (min-width: $media-size-b) {
            $total_width: 740px;
            $total_columns: 24;
            $gutter_width: 0px;
            $container_margin: auto;


        }

        // GRID LAYOUT C
        // -------------

        @media screen and (min-width: $media-size-c) {
            $total_width: 1024px;
            $total_columns: 24;
            $gutter_width: 0px;
            $container_margin: auto;

        }




    // GRID LAYOUT D
    // -------------

    @media screen and (min-width: $media-size-d) {
        $total_width: 1200px;
        $total_columns: 24;
        $gutter_width: 0px;
        $container_margin: auto;

        .first {
            @include column(14);
            @include push(2);
        }

        .outbox-right {

            @include reset();
            @include width(4);
            float: right;
            margin-right: -200px;

        }

        .content-rail {

            @include container();
            @include clearfix();

            @include column(10);
            @include push(8);

        }

        .content-rail-wide {

            @include column(14);
            @include push(8);

            .content-rail {
                @include reset();

                @include container();

                @include width(10);

            }
        }

        .content-rail-expanded {
            @include container();
            @include clearfix();

            @include column(12);
            @include push(7);
        }

        .baumgartner {
            @include column(10);
            @include push(7);
        }

        .page-break {

            width: 100%;

            .grid {

                @include container();
                @include clearfix();

                .box1, .box2, .box3, .box4, .box5 {
                    @include column(3);
                }

                .full {
                    @include column(16);
                    @include push(2);
                    clear: both;
                }

                .box1 {
                    @include push(2);
                    clear: both;
                }
                .box2 {
                    @include push(6);
                }
                .box3 {
                    @include push(10);
                }
                .box4 {
                    @include push(14);
                }
                .box5 {
                    @include push(18);
                }

            }

        }

    }
*/ }
  #feature-storytelling .page-break {
    width: 100%; }
    #feature-storytelling .page-break .grid {
      width: 94%;
      margin: 0 3%;
      *zoom: 1; }
      #feature-storytelling .page-break .grid:before, #feature-storytelling .page-break .grid:after {
        content: " ";
        display: table; }
      #feature-storytelling .page-break .grid:after {
        clear: both; }
      #feature-storytelling .page-break .grid .box1, #feature-storytelling .page-break .grid .box2, #feature-storytelling .page-break .grid .box3, #feature-storytelling .page-break .grid .box4, #feature-storytelling .page-break .grid .box5 {
        float: left;
        margin-right: -100%;
        width: 22.75%; }
      #feature-storytelling .page-break .grid .full {
        float: left;
        margin-right: -100%;
        width: 134.33%;
        margin-left: 17.17%;
        clear: both; }
      #feature-storytelling .page-break .grid .box1 {
        margin-left: 17.17%;
        clear: both; }
      #feature-storytelling .page-break .grid .box2 {
        margin-left: 51.5%; }
      #feature-storytelling .page-break .grid .box3 {
        margin-left: 85.83%; }
      #feature-storytelling .page-break .grid .box4 {
        margin-left: 120.17%; }
      #feature-storytelling .page-break .grid .box5 {
        margin-left: 154.5%; }
