/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Establish the imports-containing element.
 */
/**
 * Reset the imports-containing element for overiding.
 */
/**
 * Align an element to the imports.
 */
/**
 * Align an element to the imports.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .sprite {
    zoom: 0.5; } }
@media screen and (min-width: 740px) {
  #feature-storytelling {
    /*
    
            .baumgartner {
                @include column(14);
                @include push(5);
            }
    
            .page-break {
                .baumgartner-small-container {
                    //@include column(3);
                    margin-top: 74px;
                }
            }
    
            .box1, .box2, .box3, .box4, .box5 {
                // @include column(3);
            }
    
            .full {
                @include width(16);
                @include push(6);
    
            }
    */
    /*        .content-rail .content-rail {
                @include column(16);
                @include push(0);
            }*/ } }
@media screen and (min-width: 1024px) {
  #feature-storytelling {
    /*
            .baumgartner {
                @include column(10);
                @include push(7);
            }
    
            .page-break {
    
                width: 100%;
    
                .content-rail {
                    @include reset();
                    @include column(24);
                    @include push(0);
                }
    
                .baumgartner-small-container {
                    margin-top: -87px;
                }
            }
    
            .box1, .box2, .box3, .box4, .box5 {
                @include column(3);
            }
    
            .full {
                @include width(16);
                @include push(6);
    
            }
    
            .box1 {
                @include push(2);
                //clear: both;
            }
            .box2 {
                @include push(6);
            }
            .box3 {
                @include push(10);
            }
            .box4 {
                @include push(14);
            }
            .box5 {
                @include push(18);
            }
    */ } }
@media screen and (min-width: 1200px) {
  #feature-storytelling {
    /*              .first {
                      @include column(14);
                      @include push(2);
                  }
    
                  .outbox-right {
    
                      @include reset();
                      @include width(4);
                      float: right;
                      margin-right: -200px;
    
                  }
    
                  .outbox-left {
    
                      @include reset();
                      @include width(4);
                      @include push(2);
    
                  }
    
                  .content-wrap{
    
                      border: 1px solid red;
                      background-color: #ffff00;
                  }
    
                  .content-rail {
                      @include reset();
    
                      //@include column(11);
                      //@include push(7);
    
    
    
                  }
    
                  .content-rail-wide {
    
                      @include column(14);
                      @include push(8);
    
    
                  }
    
                  .content-rail-expanded {
    
    
                      @include column(12);
                      @include push(7);
                  }
    
                  .baumgartner {
                      @include column(10);
                      @include push(7);
                  }
    
    
    
                  .page-break {
    
                      width: 100%;
    
                      .content-rail {
                          @include reset();
                          @include column(24);
                          @include push(0);
                      }
    
                      .baumgartner-small-container {
                          margin-top: -127px;
                      }
                  }
    
                      .grid {
    
                          .box1, .box2, .box3, .box4, .box5 {
                              @include column(3);
                          }
    
                          .full {
                              @include width(16);
                              @include push(2);
    
                          }
    
                          .box1 {
                              @include push(2);
                              clear: both;
                          }
                          .box2 {
                              @include push(6);
                          }
                          .box3 {
                              @include push(10);
                          }
                          .box4 {
                              @include push(14);
                          }
                          .box5 {
                              @include push(18);
                          }
    
                      }*/ } }
