@charset 'utf-8';
section.hero {
  margin: 0 0 40px 0;
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-position: top;
  background-image: url('hero-grads-bg.jpg');
}
section.hero .wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('hero-bg.png');
  height: 800px;
  position: relative;
}
section.hero h2 {
  z-index: 500;
  position: relative;
  margin: 80px 0 0 0;
  font-size: 180px;
  font-style: italic;
  font-family: georgia, serif;
  text-align: center;
}
section.hero h2.medium {
  margin: 40px 0 0 0;
  font-size: 100px;
}
section.hero h2.small {
  margin: 40px 0 0 0;
  font-size: 75px;
}
section.hero .dan {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
section.hero .dan img {
  float: left;
  width: 100%;
}
section.hero .left-story {
  position: relative;
  z-index: 1500;
  margin: 30px 0 0 0;
}
section.hero .left-story h3 {
  margin: 0 0 16px 0;
  font-size: 12px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-style: italic;
  font-family: georgia, serif;
}
section.hero .left-story h1 {
  color: #bd0706;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  letter-spacing: -0.02em;
  line-height: 0.8em;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "alternate-gothic-no-1-d", sans-serif;
}
section.hero .left-story p {
  color: #2a2628;
  line-height: 1.3em;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}
section.hero .right-story {
  position: relative;
  z-index: 1500;
  margin: 30px 0 0 0;
}
section.hero .right-story h3 {
  margin: 0 0 16px 0;
  font-size: 12px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-style: italic;
  font-family: georgia, serif;
}
section.hero .right-story ul {
  padding: 0;
  margin: 0;
}
section.hero .right-story ul li {
  padding: 0;
  margin: 0 0 8px 0;
  letter-spacing: -0.02em;
  font-size: 34px;
  text-transform: uppercase;
  font-family: "alternate-gothic-no-1-d", sans-serif;
}
section.hero .right-story ul li a {
  line-height: 0.5em;
  padding: 0;
  text-decoration: underline;
  color: #2a2628;
}
section.hero .right-story ul li a:hover {
  color: #000000;
}
section.hero .right-story ul li a.more {
  color: #999999;
}
section.hero .right-story ul li a.more:hover {
  color: #2a2628;
}
