@charset 'utf-8';

@import "../../_css/utils";

body {
    background-image: url("body-bg.png");
    background-repeat: repeat-x;
    background-position: 0 1500px;
}

// Hero
section.hero {
    margin: 0 0 40px 0;
    background-color: @white;
    position: relative;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url('hero-bg.png'); }

section.hero .wrapper {
    height: 540px;
    padding: 20px 0 0 0;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('hero-clouds-bg.png'); }

section.hero h3 {
    .text-shadow(1px,1px,0,rgba(0,0,0,0.8));
    padding: 4px 0 0 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.25em;
    color: @white;
    margin: 10px auto 0 auto;
    width: 140px;
    font-family: @alt-gothic;
    text-align: center; }

section.hero h2 {
    .text-shadow(1px,1px,0,rgba(0,0,0,0.8));
    color: @white;
    margin: 10px 0 0 0;
    font-size: 68px;
    font-family: @base-font;
    text-align: center; }

section.hero h2.small {
    font-size: 48px; }

section.hero .baumgartner { }

section.hero .baumgartner img {
    position: absolute;
}

section.content h3,
section.content h4 {
    padding: 30px 0 20px 0;
    line-height: 0.9em;
    font-size: 49px;
    text-transform: uppercase;
    font-family: "iwan-reschniev",sans-serif; }

section.content h4 {
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    font-size: 34px; }

section.content.page-break {
    margin-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #96c2d6; }

section.content.page-break h4 {
    margin: 20px 0 20px 0; }

section.content.page-break img {
    margin: 0;
    bottom: -55px;
    position: absolute;
    width: auto; }

section.content p.first {
    line-height: 0.9em;
    font-size: 49px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "iwan-reschniev",sans-serif; }

section.content p {
    font-family: @base-font; }

section.content p strong {
    font-weight: bold; }

section.content .siderail p {
    margin-top: 5px;
    font-size: 12px;
    font-family: @font-sans; }

section.content .siderail img {
    margin: 20px 0 5px 0; }


section.content p a {
    border-color: #6ca1bb;
    color: #6ca1bb; }

// EOF