@charset 'utf-8';

@import "../../_css/utils";

body {
  background-image: url("body-bg.png");
  background-repeat: repeat-x;
  background-position: 0 1500px;
}

html {
  overflow-x: hidden;
}

@media screen and (min-width: 801px) { // Tablets

}

@media screen and (max-width: 800px) { // Mobile

}

// Hero
section.hero {
  margin: 0 0 40px 0;
  background-color: @white;
  position: relative;
  background-repeat: repeat-x;
  background-position: top;
  background-image: url("hero-bg.png");

  .wrapper {
    height: 540px;
    padding: 80px 0 0 0;
    background-image: url("hero-clouds-bg.png");
    background-repeat: no-repeat;
    background-position: top right;

    .video {
        background-color: @white;
        height: 620px;

        video {
            position: absolute;
            top: 0;
            min-height: 50%;
            width: 100%;
            height: auto;
        }
    }
}

  h2 {
    position: relative;
    z-index: 1000;
    .text-shadow(1px,1px,0,rgba(0,0,0,0.8));
    color: @white;
    margin: 10px 0 0 0;
    font-size: 68px;
    font-family: @base-font;
    text-align: center;
    &.small {
      font-size: 48px;
    }
  }

  h3 {
    position: relative;
    z-index: 1000;
    .text-shadow(1px,1px,0,rgba(0,0,0,0.8));
    padding: 4px 0 0 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.25em;
    color: @white;
    margin: 10px auto 0 auto;
    width: 140px;
    font-family: @alt-gothic;
    text-align: center;
  }

  .baumgartner {
    position: relative;
    z-index: 2000;
    top: 0;
    margin: 0;
    animation: move 2s;
    -moz-animation: move 2s infinite;
    -webkit-animation: move 2s infinite;
    img {
      width: 100%;
      position: absolute;
    }
  }

}

section.content {
  position: relative;
  z-index: 1000;


  &.page-break {
    margin-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #96c2d6;

    h4 {
      margin: 20px 0 20px 0;
    }

    img {
      margin: 0;
      bottom: -55px;
      position: absolute;
      width: auto;
    }
  }

  p {
    font-family: @base-font;

    strong {
      font-weight: bold;
    }

    &.first {
      line-height: 0.9em;
      font-size: 56px;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-family: "iwan-reschniev", sans-serif;
      font-style: italic;
      letter-spacing: 2px;
      color: @blue;
      background: -webkit-linear-gradient(#acdcfb, @blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h3, h4 {
    padding: 30px 0 20px 0;
    line-height: 0.9em;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "iwan-reschniev", sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    color: @blue;
  }

  h4 {
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    font-size: 25px;
    line-height: 25px;
    color: @black-gray;
  }

  .siderail {
    p {
      margin-top: 5px;
      font-size: 12px;
      font-family: @font-sans;

      a {
      }
    }

    img {
      margin: 20px 0 5px 0;
    }
  }

  .row {
    padding: 0 0 0 80px;
    background-repeat: no-repeat;
    clear: both;

    &.img-1895 {
      background-image: url("1895.png");
    }

    &.img-1900 {
      background-image: url("1900.png");
    }

    &.img-1904 {
      background-image: url("1904.png");
    }

    &.img-1954 {
      background-image: url("1954.png");
    }

  }

  .more-content {
    display: none;
    position: absolute;
    background-image: url("icon-link.png");
    width: 47px;
    height: 47px;
    z-index: 2;
  }
  .show-mobile .more-content {
    display: block;
  }

  #oreo-container {
    position: relative;

    .more-content {
      top: 15px;
      left: 15px;
    }

    #oreo-shadow {
      top: 171px;
      left: 26px;
      width: 151px;
      position: absolute;
    }

  }

  .show-mobile#oreo-container {
    position: relative;
    width: 35%;
    float: left;
    margin: 0 20px 20px 0;

    .more-content {
      top: 6%;
      left: 6%;
    }

    img {
      margin: 0;
    }

  }

  #chipotle {
    position: relative;
    height: 200px;

    .more-content {
      top: 0px;
      left: 40px;
    }

    #pig {
      position: relative;
    }
  }

  .show-mobile#chipotle {
    position: relative;
    width: 35%;
    float: left;
    height: auto;

    .more-content {
      top: 6%;
      left: 6%;
    }

    img {
      margin: 0;
    }
  }

  .baumgartner-small-container {
    height: 0;
    position: relative;

    .more-content {
      position: absolute;
      top: 280px;
      left: 25px;
    }
  }

  .pizza {
    position: relative;

    .more-content {
      top: 10px;
      left: 20px;
      display: block;
    }
  }

  .show-mobile#dominos {
    position: relative;
    width: 35%;
    float: left;
    height: auto;

    .more-content {
      top: 2%;
      left: 6%;
    }

    img {
      margin: 0;
    }
  }

  #falling-baumgartner {
    opacity: 0;
    position: relative;
  }

  &.page-break .baumgartner-mobile {
    width: 50%;
    float: left;
    margin: 0 20px 20px 0;
  }
  &.page-break .baumgartner-mobile img {
    margin: 0;
    bottom: 0;
    position: relative;
    width: 100%;
  }

}



// EOF