@charset 'utf-8';

@import "../_fa/font-awesome";
@import "./utils";

// Main CSS
body, html {
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
}

a {
  color: @red;
  outline: none;
  text-decoration: none;
  .transition(color 0.1s);

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3 {
  -webkit-font-smoothing: antialiased; // This makes font rendering prettier on _some_ larger fonts.
}

::selection {
  background-color: @silver;
}

// Header Slab

header {
  color: @white;
  background-color: @black;

  .tools {
    float: left;

    li {
      margin: 0;
      font-family: @font-sans;

      li {
        margin: 0 0 20px 0;

      a {
        color: @white;
        text-decoration: none;
        font-size: 24px;
        display: block;

        &:hover {
        }
      }}
    }
  }
}

// Content Styles
section.content p {
  color: @dark-gray;
  margin: 0 0 25px 0;
  line-height: 1.5em;
  font-size: 16px;
  font-family: @font-sans;
}

section.content p.first {
  line-height: 1.2em;
  font-size: 28px;
  font-family: @source-pro;
}

section.content p a {
  border-width: 0 0 1px 0;
  border-style: dotted;
  color: @red;
}

section.content p a:hover {
  border-style: solid;
}

section.content img {
  margin: 0 0 25px 0;
  width: 100%;
}

// EOF