@charset 'utf-8';

@import url('../_fa/font-awesome.less');
@import url('./utils.less');

// Main CSS
body, html {
    font-family: @base-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0; }

body {
    padding: 62px 0 0 0; }

a {
    color: @red;
    outline: none;
    text-decoration: none;
    .transition(color 0.1s); }

a:hover {
    text-decoration: none; }

::selection {
    background-color: @silver; }

// Header Slab
header {
    height: 40px;
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 0;
    color: @white;
    background-color: @black;
    overflow: hidden;}

    header ul.tools  {
        float: left;
        margin: 17px 0 0 17px; }

    header ul.tools li {
        margin: 0; }

        header ul.tools li a {
            color: @white;
            text-decoration: none;
            font-size: 24px; }

        header ul.tools li a:hover {
            color: @red; }

    header h1 {
        margin: 0 auto;
        text-align: center;}


    header h1 a {
      font-size: 25px;
      line-height: 36px;
      letter-spacing: -1px;
      font-family: @base-font;
      font-style: italic;
      color: @white;
      font-weight: bold;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      }

    header .issue {
        font-size: 14px;
        padding: 24px 17px 0 0;
        text-transform: uppercase;}

// Content Styles
section.content p {
    color: @dark-gray;
    margin: 0 0 25px 0;
    line-height: 1.5em;
    font-size: 16px;
    font-family: @font-sans; }

section.content p.first {
    line-height: 1.2em;
    font-size: 28px;
    font-family: @source-pro; }

section.content p a {
    border-width: 0 0 1px 0;
    border-style: dotted;
    color: @red; }

section.content p a:hover {
    border-style: solid; }

section.content img {
    margin: 0 0 25px 0;
    width: 100%; }






// EOF