@charset 'utf-8';

@import "../../_css/utils";

@media screen and (max-width: 800px) { // Mobile
  section.content .quote {
    margin: 5px 0 15px 0;
  }
}

@media screen and (min-width: 801px) { // Tablets
  section.content .quote {
    margin: 5px -150px 0 0;
    float: right;
  }
}


// Hero
section.hero {
  overflow: hidden;
  position: relative;
  background-color: @black;
  background-image: url("Tempest_Mobile.png");
  background-size: cover;
  height: 500px;


  h2 {
    z-index: 1000;
    color: @white;
    position: relative;
    margin: 20px 0 0 0;
    font-size: 68px;
    font-family: @base-font;
    text-align: center;

    &.small {
      font-size: 48px;
    }
  }

  h3 {
    z-index: 1000;
    padding: 4px 0 0 0;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.25em;
    color: @black;
    margin: 20px auto 0 auto;
    width: 180px;
    background-color: @white;
    font-family: @alt-gothic;
    text-align: center;
  }

  .wrapper {
    padding: 120px 0 0 0;
    height: 540px;

    .video {
        background-color: @black;

        video {
            position: absolute;
            top: 0;
            min-height: 50%;
            width: 100%;
            height: auto;
        }
    }

  }
}

// Content
.article {
  background-color: @white;
  padding-top: 20px;
}

section.content .lovely-grid {
  position: relative;
}

section.content p {
  font-family: @base-font;
}

section.content p.first {
  color: @black;
}

section.content p strong {
  color: @black;
}

section.content .quote p {
  display: inline;
  font-size: 34px;
  line-height: 1em;
  color: @black;
  text-transform: uppercase;
  font-family: @alt-gothic;
}

section.content p a {
  border-color: #ce950c;
  color: #ce950c;
}

section.fullwidth {
  height: 215px;
  background-image: url("devices.jpg");
  background-repeat: repeat-x;
  background-position: center;
  margin: 0 0 25px 0;
}


.modules {
  position: relative;

  #modules {
    top: 50px;
  }

  .layer {
    width: 317px;
  }

  .block {
    width: 161px;
  }

  IMG {
    position: absolute;
  }

}

#experience {
  z-index: 18;
  left: 51px;
}

#content {
  z-index: 13;
  left: 50px;
  top: 60px;
}

#community {
  z-index: 15;
  top: 86px;
  left: 128px;
}

#community-cover {
  z-index: 17;
  top: 86px;
  left: 128px;
}

#commerce {
  z-index: 16;
  top: 86px;
  left: 130px;
}

#marketing {
  z-index: 14;
  top: 60px;
  left: 207px;
}

#distribution {
  z-index: 12;
  top: 116px;
  left: 51px;
}

#data {
  z-index: 11;
  top: 150px;
  left: 51px;
}

#infrastructure {
  z-index: 10;
  top: 183px;
  left: 51px;
}

// EOF