@charset 'utf-8';

@import "../../_css/utils";

// Hero
section.hero {
  overflow: hidden;
  margin: 0 0 40px 0;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 750px;
  background: no-repeat url(hero-wall.jpg) #f2f2ef;
  background-position: bottom center;
}

section.hero .wrapper {
  background-position: bottom;
  background-repeat: no-repeat;
}

section.hero h3 {
  padding: 4px 0 0 0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.25em;
  color: @black;
  margin: 20px auto 0 auto;
  width: 180px;
  background-color: @white;
  font-family: @alt-gothic;
  text-align: center; }

section.hero h2 {
  line-height: 0.9em;
  .text-shadow(5px,5px,0,rgba(0,0,0,0.2));
  position: relative;
  margin: 20px 0 0 0;
  font-size: 180px;
  color: @black;
  text-transform: uppercase;
  font-style: italic;
  font-family: "league-gothic",sans-serif;
  text-align: center; }

#article {
  margin-top: 800px;
  background-color: white;
  position: relative;
  padding-top: 40px;
}

.map {
  background: no-repeat url(map.png) transparent;
  background-position: 80px 0;}

section.content.black {
  color: @white;
  background-color: @black;
}

section.content.red {
  color: @white;
  background-color: #d80c1b;
}

section.content h3 {
  padding: 0 0 20px 0;
  line-height: 1em;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "league-gothic", sans-serif;
}

section.content.black h3 {
  color: @white;
}

section.content.black p {
  color: @white;
}

section.content p.first {
  line-height: 0.9em;
  font-size: 54px;
  text-transform: uppercase;
  font-family: "league-gothic", sans-serif;
}

section.content p.first span {
  color: #f26612;
}

section.content p {
  font-family: @base-font;
}

section.content p a {
  border-color: #f26612;
  color: #f26612;
}

/* Fixed Hero */

/* Profile pictures */

#article {
  overflow: hidden;
}

@profile-scale: 0.75;

.format-profile (@rotation: 0deg) {
  -webkit-transform: scale(@profile-scale) rotate(@rotation);
  -moz-transform: scale(@profile-scale) rotate(@rotation);
  -ms-transform: scale(@profile-scale) rotate(@rotation);
  transform: scale(@profile-scale) rotate(@rotation);
}

.profile-picture {
  .box-shadow(1px, 1px, 5px, #555);
  position: relative;
}

#sarah-rotman { .format-profile(2deg);
}

#jp-rangaswami {
  .format-profile(-4deg);
  margin-top: 25px;
}

#vivek-wadhwa { .format-profile();
}

#david-sobotta {
  margin: -25px 0 0 50px;
  z-index: 10;
  .format-profile(4deg);
}

#alan-cohen {
  .format-profile(-1deg);
  margin-top: -100px;
  z-index: 1;
}

// EOF