@charset 'utf-8';

@import "../../_css/utils";

body {
  background: no-repeat url("./_img/cover.jpg") rgb(227, 2, 57);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: bottom left;

}

header {
  display: none;
}

#cover {
  section.toc {
    margin: 0;
    background-color: @white;
    padding: 60px 40px;
    float: right;
    max-width: 320px;

    a {
      font-size: 20px !important;
    }
  }
}
