@charset 'utf-8';

@import "../../_css/utils";

// @import url('./lovely-grid-mobile-0.css') (max-width: 768px);
// @import url('./lovely-grid-24-0-768.css') (min-width: 769px) and (max-width: 960px);
// @import url('./lovely-grid-24-0-960.css') (min-width: 961px) and (max-width: 1200px);
// @import url('./lovely-grid-24-0-1200.css') (min-width: 1201px);

body {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 791px) { // Desktops
  #background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: no-repeat url("cover.jpg") rgb(227, 2, 57);
    background-attachment: fixed;
    background-size: auto 95%;
    background-position: bottom left;
  }
}

@media screen and (min-width: 611px) and (max-width: 790px) { // Tablets
  #background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: no-repeat url("cover.jpg") rgb(227, 2, 57);
    background-attachment: fixed;
    background-size: auto 35%;
    background-position: bottom left;
  }
}

@media screen and (max-width: 610px) { // Mobile
  body {
    background: rgb(227, 2, 57);
  }
}

header {
  display: none;
}

#cover {
  section.toc {
    margin: 0;
    background-color: @white;
    padding: 60px 40px;
    float: right;
    max-width: 320px;
    a {
      font-size: 20px !important;
    }
  }
}
